/* Header styles */
header {
	background-color: black;
	padding: 0.7142em 2.1428em;
	position: relative;
	>a {
		color: #E3E1E1;
		font-size: 1.2857rem;
		font-weight: 300;
		span {
			color: $blue;
		}
		&:first-child {
			margin-right: 15px;
			display: inline-block;
			$mobile: new-breakpoint(max-width 401px);
			@include media($mobile) {
			    margin-right: 10px;
			}
			span {
				display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background-color: #E3E1E1;
			    margin-bottom: 3px;
			}
		}
	}
	nav {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		margin-top: -25px;
		ul.navbar_buttons {
			li {
				display: inline-block;
				margin-right: 25px;
				a {
					line-height: 1 !important;
					border: none !important;
					span {
						background: url("../img/nav_icons_sprites.png");
						display: inline-block;
					}
				}
				&:first-child {
					a {
						padding-top: 12px !important;
						span {
							background-position: 0px 0px;
							width: 20px;
							height: 16px;
						}
					}
				}
				&:nth-child(2) {
					a {
						span {
							background-position: 0px -26px;
							width: 20px;
							height: 16px;
						}
					}
				}
				&:nth-child(3) {
					a {
						padding-top: 14px !important;
						span {
							background-position: 0px -52px;
							width: 18px;
							height: 16px;
						}
					}
				}
				&:nth-child(4) {
					a {
						padding-top: 12px !important;
						span {
							background-position: 0px -78px;
							width: 24px;
							height: 16px;
						}
					}
				}
				$mobile: new-breakpoint(max-width 430px);
				@include media($mobile) {
				    margin-right: 10px;
				}
			}
		}
		$mobile: new-breakpoint(max-width 750px);
		@include media($mobile) {
		    left: 47%;
		    transform: translate(30%, 0);
		    margin-top: -25px;
		}
		$mobile: new-breakpoint(max-width 402px);
		@include media($mobile) {
		    left: 52%;
		}
	}
	.navbar_userInfo {
		padding-top: 12px;
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
		top: 0;
	    margin-right: 20px;
	    $mobile: new-breakpoint(max-width 750px);
		@include media($mobile) {
			display: none;
		}
		span {
			font-size: 1rem;
			font-family: 'Open Sans', sans-serif;
			color: #DEDEDE;
			margin: 0 10px;
			font-weight: 300;
		}
	}
	$mobile: new-breakpoint(max-width 750px);
	@include media($mobile) {
		padding: 0.7142em 0.7142em;
	}
}